<div class="row">
  <div class="col-md-6">
    <h3>Session 1 -- Tuesday, June 3rd, 1:00-3:00 PM Central Time</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>1:00 PM</td>  <td><a href="https://swcarpentry.github.io/python-novice-gapminder/01-run-quit.html">Running and Quitting</a></td> </tr>
      <tr> <td>...  </td>  <td><a href="https://swcarpentry.github.io/python-novice-gapminder/02-variables.html">Variables and Assignment</a></td> </tr>
      <tr> <td>...  </td>  <td><a href="https://swcarpentry.github.io/python-novice-gapminder/02-variables.html">Data Types and Type Conversion</a></td> </tr>
      <tr> <td>...  </td>  <td><a href="https://swcarpentry.github.io/python-novice-gapminder/04-built-in.html">Built-in Functions and Help</a></td> </tr>
      <tr> <td>...  </td>  <td><a href="https://swcarpentry.github.io/python-novice-gapminder/06-libraries.html">Libraries</a></td> </tr>
      <tr> <td>3:00 PM</td>  <td>Wrap-up</td> </tr>
    </table>
  </div>

  <div class="col-md-6">
    <h3>Session 2 -- Wednesday, June 4th, 1:00-3:00 PM Central Time</h3>
    <table class="table table-striped">
      <tr> <td>1:00 PM</td>  <td><a href="https://swcarpentry.github.io/python-novice-gapminder/07-reading-tabular.html">Reading Tabular Data into DataFrames</a></td> </tr>
      <tr> <td>...  </td>  <td><a href="https://swcarpentry.github.io/python-novice-gapminder/08-data-frames.html">Pandas DataFrames</a></td> </tr>
      <tr> <td>...  </td>  <td><a href="https://swcarpentry.github.io/python-novice-gapminder/09-plotting.html">Plotting</a></td> </tr>
      <tr> <td>...  </td>  <td><a href="https://swcarpentry.github.io/python-novice-gapminder/11-lists.html">Lists</a></td> </tr>
      <tr> <td>3:00 PM</td>  <td>Wrap-up</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Session 3 -- Friday, June 6th, 1:00-3:00 PM Central Time</h3>
    <table class="table table-striped">
      <tr> <td>1:00 PM</td>  <td><a href="https://swcarpentry.github.io/python-novice-gapminder/12-for-loops.html">For Loops</a></td> </tr>
      <tr> <td>...  </td>  <td><a href="https://swcarpentry.github.io/python-novice-gapminder/13-conditionals.html">Conditionals</a></td> </tr>
      <tr> <td>...  </td>  <td><a href="https://swcarpentry.github.io/python-novice-gapminder/14-looping-data-sets.html">Looping Over Data Sets</a></td> </tr>
      <tr> <td>...  </td>  <td><a href="https://swcarpentry.github.io/python-novice-gapminder/16-writing-functions.html">Writing Functions</a></td> </tr>
      <tr> <td>3:00 PM</td>  <td>Wrap-up</td> </tr>
    </table>
  </div>
</div>
